.header {
  border: 1px solid pink;
  border-radius: 4px;
  padding: 4px;
}
.navigation {
  display: flex;
  list-style: none;
  gap: 35px;
  text-decoration: none;
}
.navigation a:hover {
  color: rgb(0, 255, 157);
  text-decoration: none;
}
